# 1. Write a Python program to check if a string is a palindrome

In [ ]:
#meaning
palindrome = a word, phrase, or sequence that reads the same backwards as forwards, e.g. madam or nurses run.

In [10]:
str = input("enter anything:- ")
#reversing a string

reversestring = (str[::-1])

if str == reversestring:
    print(str,"it is a palindrome!")
else:
    print(str,"it is not palindrome!")

enter anything:-  vinod

vinod it is not palindrome!

# 2. Write a Python program to find the factorial of a number.

In [13]:
num = int(input("Enter a number: "))
factorial = 1

if num < 0:
    print("No factorial for negative numbers")
elif num == 0:
    print("Factorial is 1")
else:
    for i in range(1, num + 1):
        factorial *= i
    print(num ,"=",factorial)

Enter a number:  9

9 = 362880

In [15]:
def factorial(num):  #using functions
    if num==0:
        return 1
    else:
        return num*factorial(num-1)

num = int(input("enter a number:- "))
print(factorial(num))

enter a number:-  8

40320

# 3. Write a Python program to find the largest element in a list.

In [26]:
user = input("enter a list")

list = [int(x) for x in user.split(',')]
print(list)
my_list = max(list)
print(my_list)

enter a list 10,20,30

[10, 20, 30]
30

# 4. Write a Python program to reverse a string.

In [31]:
user = input("enter a string:- ")
print(user[::-1])

enter a string:-  vinod

doniv

# 5. Write a Python program to count the frequency of each element in a list.

In [13]:
user = input("enter a list")    #dynamic

list = [int(x) for x in user.split(',')]
frequency={}

for items in user:
    if items in frequency:
        frequency[items] += 1
    else:
        frequency[items] = 1

print("input:- ",frequency)

enter a list 1,1,1,2,2,2,2,2,2,3,3,3,3,3

input:-  {'1': 3, ',': 13, '2': 6, '3': 5}

In [15]:
user = ["vinod","vinod","raji","pavan","pavan","adhya","adhya"] #static
frequency={}

for items in user:
    if items in frequency:
        frequency[items] += 1
    else:
        frequency[items] = 1

print("input:- ",frequency)

input:-  {'vinod': 2, 'raji': 1, 'pavan': 2, 'adhya': 2}

# 6. Write a Python program to check if a number is prime.

In [68]:
user = int(input("enter a number:-  "))

if user % 2 and user % 3 and user % 5:
    print(user,"prime")
else:
    print(user,"not prime ")

enter a number:-   449

449 prime

# 7.Write a Python program to find the common elements between two lists.

In [19]:
list_1 = input("enter a items in first list:-  ")
set_1 = [str(x) for x in list_1.split(',') ]
list_2 = input("enter a items in second list:- ")
set_2 = [str(x) for x in list_2.split(',') ]
a=set(set_1)
b=set(set_2)
c=a.intersection(b)
print("common elements:- ",c)

enter a items in first list:-   vinod,pavan,raji,adhya
enter a items in second list:-  raji,pavan

common elements:-  {'pavan', 'raji'}

# 8.  Write a Python program to remove duplicates from a list.

In [21]:
user = input("enter numbers:-")
number = [int(x) for x in user.split(',')]

a= set(number)
b= list(a)
print("no duplicates:-",b)

enter numbers:-  1,1,22,2,11,22,2

no duplicates:- [1, 2, 11, 22]

# 9. Write a python program to Counting Vowels in Word.

In [11]:
user=input("Enter the String:")
lower_case=user.lower()
vowels=["a","e","i","o","u"]
vowel=0
consonant=0
for i in lower_case:
    if i in vowels:
        vowel=vowel+1
    else:
        consonant=consonant+1  
print("total vowels:",vowel)
print("total consonants",consonant)

Enter the String: vinod

total vowels: 2
total consonants 3

# 10. Write a python program to Find the Maximum Number in a List.

In [17]:
user = input("enter a list :- ")
list = [int(x) for x in user.split(',')]
print("minimun number:- ", min(list))

enter a list :-  1,2,3,4,5,6

minimun number:-  1

# 11. Write a python program to Find the Maximum Number in a List.

In [20]:
user = input("enter a list :- ")
list = [int(x) for x in user.split(',')]
print("minimun number:- ", max(list))

enter a list :-  1,2,3,4,5,6

minimun number:-  6

# 12. Python Program to find smallest number among three.

In [23]:
input1 = int(input("enter a number: "))
input2 = int(input("enter a number: "))
input3 = int(input("enter a number: "))
print(" smallest number among three: ",min(input1,input2,input3))

enter a number:  2
enter a number:  3
enter a number:  4

 smallest number among three:  2

# 13. Python Program to calculate the square of a given number.

In [28]:
user = int(input("enter a number :"))
print("square number:",user*user)

enter a number : 5

square number: 25

# 14. Python program to copy one string to another string.

In [33]:
string = input("Enter the string: ")

another_string = string

print("String:", string)
print("another_String:", another_string)

Enter the string:  python

String: python
another_String: python

# 15.Python Program to sort characters of string in ascending order

In [5]:
user = input("enter a string :- ")
a = list(user)
a.sort()
print("ascending order:- ",a)

enter a string :-  vinod

ascending order:-  ['d', 'i', 'n', 'o', 'v']

# 16. Python Program to sort character of string in descending order.

In [8]:
user = input("enter a string :- ")
a = list(user)
a.sort()
print("descending order:- ",a[::-1])

enter a string :-  vinod

descending order:-  ['v', 'o', 'n', 'i', 'd']

# 17. Write a program in Python to swap two numbers without using third variable

In [35]:
a=int(input(" a ="))
b=int(input("b ="))
c=a
a=b
b=c
print("After Swapping: ","a =",a)
print("After swapping: ","b=",b)

 a = 7
b = 8

After Swapping:  a = 8
After swapping:  b= 7

# 19.Fibonacci Series

In [40]:
def fibinocci(n):
    n1,n2=0,1
    sum=0
    if n<0:
        print("Please enter positive number.")
    else:
        print("fibinocci series:")
        for i in range(0,n):
            print(sum,end=' ')
            n1=n2
            n2=sum
            sum=n1+n2
n=int(input())
fibinocci(n)

 22

fibinocci series:
0 1 1 2 3 5 8 13 21 34 55 89 144 233 377 610 987 1597 2584 4181 6765 10946

# 20.Count Paranthesis in String

In [47]:
def count_paranthesis(s):
    open_paranthesis = s.count('(')
    close_paranthesis = s.count(')')
    return open_paranthesis, close_paranthesis

input_string = input("Enter Your String: ")
open_count, close_count = count_paranthesis(input_string)
print("Number of '(' is:",open_count)
print("Number of ')' is:",close_count)

Enter Your String:  vinodreddugone

Number of '(' is: 0
Number of ')' is: 0

# 21.First non repeting in string

In [52]:
def non_repeating(s):
    flag = 0
    for i in s:
        if s.count(i) == 1:
            print("First non-repeating character is :", i)
            flag = 1
            break
    if flag == 0:
        print("No non-repeating character")
s=input()
non_repeating(s)

 ramaraju

First non-repeating character is : m

# 22.Python program to reverse a string  using function

In [55]:
def reverse(s):                                            #6
    s = input("Enter the string:")
    str = ""
    for i in s:
        str = i + str
    return str
    
print("The reversed string is : ", end="")

reverse(s)

The reversed string is :

Enter the string: vinod

'doniv'